<!DOCTYPE html>
<html>
	<head>
		<style>
			.table {
			  display: flex;
			}
			.column {
			  padding: 15px;
			  background-color: #86DF3B;
			  border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<div class = "table">
			<div class = "column">
				<h2>Raamat</h2>
				{% for book in books %}
					<p>{{book}}</p>
				{% endfor %}
			</div>
			<div class = "column">
				<h2>Autor</h2>
				{% for author in authors %}
					<p>{{author}}</p>
				{% endfor %}
			</div>
			<div class = "column">
				<h2>Laenutamise aeg (nädalat)</h2>
				{% for bp in borrow_periods %}
					<p>{{bp}}</p>
				{% endfor %}
			</div>
			<div class = "column">
				<h2>Asukoht raamatukogus</h2>
				{% for section in sections %}
					<p>{{section}}</p>
				{% endfor %}
			</div>
			<div class = "column">
				<h2>Kogus raamatukogus</h2>
				{% for q in quantities %}
					<p>{{q}}</p>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
